.container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
}

.box{
    height: 50%;
    width: 250px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.circle{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}


.title{
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: gray;
    padding-bottom: 10px;
    box-sizing: border-box;
}

p{
    text-align: center;
    line-height: 25px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: gray;
    padding-bottom: 10px;
}

.button{
    width: 120px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: gray;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.fa-hippo{
    font-size: 30px;
    color: brown;
}